.compare{
    width: 90%;
    margin: 0 auto;
}
.select-product.left{
    background: #60BB46;
}
.select-product.right{
    background: #ffaf01;
}
.select-product{
    position: relative;
    width: 49%;
}
.select-product a{
    position: absolute;
    padding: 10px;
    right:0;
    top: 0;
    font-size: 25px;
}
.select-product p{
    line-height: 40px;
    padding-left: 20px;
    color: #fff;
    
}
.content-compare{
    position: relative;
}
.select1{
    left: 58px;
    
}
.select2{
    right: 58px;
}
.select{
    position: absolute;
    top: 40px;
    display: none;
    background: #fff;
    z-index: 1;
    width: 44.1%;
    padding-top: 20px;
}
.select span,
.select-product .lable span{
    display: none;
}
.select input{
    width: 100%;
    padding: 5px 10px;
}
.select .content{
    width: 100%;
    max-height: 350px;
    overflow:scroll;
    
}
.select .content li{
    padding:10px 20px;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
.select .content li:last-child{
    border: none;
}
.compare .product{
    padding: 10px 20px;
}
.compare .product .thumb img{
    margin: 0 auto;
    border: 1px solid #ccc;
    margin-top: 30px;
    width: 500px;
}
.compare .product-content .price{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.compare .product-content .price span{
    font-size: 25px;
}
.compare .product-content .action{
    margin-top: 20px;
}
.compare .product-content .action a{
    padding: 10px 0px;
    width: 200px;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
}
.compare .product-content .action .add-cart{
    color: #60BB46;
    background-color: #fff;
    border: 2px solid #60BB46;
}
.compare .product-content .action .add-cart:hover{
    background: #60BB46;
    color: #fff;
}
.compare .product-content .action .buy-now{
    color: #fff;
    background-color: #60BB46;
    border: 2px solid #60BB46;
}
.compare .product-content .action .buy-now:hover{

    background-color: #8fd87b;
}
